:root {
  --navbar-bg-color: #b12025;
  --background-color: #292929;
  --capsule-background-color: #4e4e50;
  --capsule-rounding-radius: 10px;
  --text-color: white;
  --navbar-height: 64px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: vazirmatn, sans-serif;
}

h1,
h2 {
  direction: rtl;
  text-align: center;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

p {
  direction: rtl;
  text-align: right;
}

img {
  border-radius: var(--capsule-rounding-radius);
  width: 100%;
  height: auto;
}

.actor_page-actor_information {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.actor_profile_pic {
  flex-basis: 27%;
  flex-direction: column;
}

.actor_profile_pic img {
  align-self: auto;
}

.actor_page-information {
  flex-basis: 73%;
}

.information_text {
  margin-right: 5%;
}

.rounded {
  border-radius: var(--capsule-rounding-radius);
}

.actor_movies_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--capsule-background-color);
  margin: 1%;
  padding-left: 2%;
  padding-right: 2%;
  height: 25vw;
  width: 68vw;
}

.actor_movies {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow: auto;
  white-space: nowrap;
  width: 68vw;
}

.actor_movie {
  position: relative;
  text-align: center;
  margin-right: 2vw;
  margin-left: 2vw;
}

.actor_movie img {
  display: block;
  height: 20vw;
  width: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 10px;
  background-color: var(--navbar-bg-color);
}

.actor_movie:hover .overlay {
  opacity: 0.8;
}

.actor-movie-text {
  color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  font-size: 0.7vw;
  transform: translate(-50%, -50%);
}

.page-container {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
}

.custome-trash-icon {
  font-size: 48px;
  color: var(--navbar-bg-color);
}

.custome-user-icon {
  font-size: 48px;
  color: var(--capsule-background-color);
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5vw;
}

.raitings {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 3vw;
}

.id-value-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-direction: row-reverse;
}

.capsule {
  display: flex;
  flex-direction: row;
  background: var(--capsule-background-color);
  border-radius: var(--capsule-rounding-radius);
  column-gap: 1.8vw;
  width: 50%;
  justify-content: space-between;
}

.movie-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  float: right;
  padding: 0.6vw;
}

.movie-name-div {
  display: flex;
}

.trash-icon {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.logo-image {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.bold-text {
  font-weight: bold;
}

.with-margin {
  padding: 0px;
}

.persian-text {
  direction: rtl;
}

.capsule-img-rounded {
  border-top-left-radius: var(--capsule-rounding-radius);
  border-bottom-left-radius: var(--capsule-rounding-radius);
}

.custome-text-white {
  color: white;
  font-size: 1vw;
}

.custome-title-white {
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-bg-color);
  height: var(--navbar-height);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.logo-image {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.custome-user-icon {
  font-size: 48px;
  color: var(--capsule-background-color);
}
