:root {
  --navbar-bg-color: #B12025;
  --background-color: #292929;
  --capsule-background-color: #4E4E50;
  --capsule-rounding-radius: 10px;
  --text-color: white;
  --navbar-height: 64px;
}
  
body {
  background-color: #292929;
  color: white;
  font-family: vazirmatn, sans-serif;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: var(--background-color);
}